<div class="productivity-container">
  <header>
    <div class="header-app">
      <img
        src="../../assets/images/icons8-meditación-gurú-501.png"
        alt=""
        width="50px"
        height="50px"
      />
    </div>

    <div class="title-container">
      <div>
        <h1>Study and Efficiency</h1>
      </div>
      <div><h4>Organize lectures notes.</h4></div>
    </div>
  </header>
  <main class="main">
    <section class="section1">
      <div class="text">
        <p>
          Unless you are a legal transcriptionist, transcribing lecture notes
          can make your notebook look like a 7-year-old scribbled in it! That’s
          why it’s best to record your professors’ lectures so that you can get
          a better understanding of the lesson. The best way to do this is to
          transcribe the recorded lecture notes. This way, you can rewind what
          you didn’t understand. It also behooves you to revisit those
          notes—while the material is fresh in your mind and rewrite them in a
          style that’s more legible and review-friendly. On the day of the exam,
          you’ll be glad you did. Fact: it has been proven that information
          retention is higher when you go over your notes and repeat the lesson
          after the class is over. Rewriting your lecture notes is going to be
          one of the most brilliant study techniques to practice. Rewriting will
          help you remember the context better and reorganizing them in nice
          outline forces you to comprehend the lesson.
        </p>
      </div>
    </section>
    <div class="num-cont">
      <div class="lesson-num"><h1>06</h1></div>
    </div>
  </main>
  <nav class="nav-container">
    <div class="nav-bar">
      <a [routerLink]="['/courses/study/05']">previous lesson</a>
      <a [routerLink]="['/courses/study/07']">Next lesson</a>
    </div>
  </nav>
</div>
