<div class="productivity-container">
  <header>
    <div class="header-app">
      <img
        src="../../assets/images/icons8-meditación-gurú-501.png"
        alt=""
        width="50px"
        height="50px"
      />
    </div>

    <div class="title-container">
      <div>
        <h1>Productivity</h1>
      </div>
      <div><h4>Focus on one goal at a time.</h4></div>
    </div>
  </header>
  <main class="main">
    <section class="section1">
      <div class="text">
        <p>
          We just talked about how you should get in the habit of setting small
          goals for tasks. Now we move on to focusing on one at a time.
          Hopefully outlining your project ahead of time in the section before
          lets you know which tasks are most important, but how does your
          organization determine what’s important? Ultimately its for your team
          to decide, but you can track OKRs, KPIs, and other metrics to indicate
          productivity. Whatever your company’s priority is, it’s your job to
          execute. Try the 90-90-1 rule. It also works if you’re managing a
          team.Here’s what you do: Commit the first 90 minutes of your day for
          90 days to the most important task. Suggested by HR guru, Robin
          Sharma, it will focus your priorities before the day even really gets
          going. It’s also very practical. It’s not spending all of your time
          every day on one single thing. You can also set up projects to focus
          on this one goal and to make sure that it aligns with your overall
          company goals.
        </p>
      </div>
    </section>
    <div class="num-cont">
      <div class="lesson-num"><h1>03</h1></div>
    </div>
  </main>
  <nav class="nav-container">
    <div class="nav-bar">
      <a [routerLink]="['/courses/productivity/02']">Previous lesson</a>
      <a [routerLink]="['/courses/productivity/04']">Next lesson</a>
    </div>
  </nav>
</div>
