<div class="productivity-container">
  <header>
    <div class="header-app">
      <img
        src="../../assets/images/icons8-meditación-gurú-501.png"
        alt=""
        width="50px"
        height="50px"
      />
    </div>

    <div class="title-container">
      <div>
        <h1>Mind, Body, & Soul</h1>
      </div>
      <div><h4>Find time to walk or exercise.</h4></div>
    </div>
  </header>
  <main class="main">
    <section class="section1">
      <div class="text">
        <p>
          I’ve worked in office parks, in downtown business districts, and from
          home. And in every place, I try to find time to walk at least once a
          day. That could be around the parking lot, down the street, or in the
          park, and it’s more refreshing than anything on social media. This
          isn’t about staying in shape or losing weight, not that those are bad
          things. But exercise can help you be more productive because it
          increases your alertness. Because it increases your blood flow and
          cardiovascular health, you’ll be less anxious, more focused, and more
          capable of dealing with stress.
        </p>
      </div>
    </section>
    <div class="num-cont">
      <div class="lesson-num"><h1>13</h1></div>
    </div>
  </main>
  <nav class="nav-container">
    <div class="nav-bar">
      <a [routerLink]="['/courses/productivity/12']">Previous lesson</a>
      <a [routerLink]="['/courses/productivity/14']">Next lesson</a>
    </div>
  </nav>
</div>
