<div class="productivity-container">
  <header>
    <div class="header-app">
      <img
        src="../../assets/images/icons8-meditación-gurú-501.png"
        alt=""
        width="50px"
        height="50px"
      />
    </div>

    <div class="title-container">
      <div>
        <h1>Mind, Body, & Soul</h1>
      </div>
      <div><h4>Identify your personal work patterns.</h4></div>
    </div>
  </header>
  <main class="main">
    <section class="section1">
      <div class="text">
        <p>
          Tracking your time, even if no one is asking you for it can help you
          understand your work habits and the time of day when you finish work
          most successfully. This might actually hold the key to how to be more
          productive because learning from your patterns will allow you to focus
          on where you are (and aren’t) most productive. Tracking your time
          efficiently, knowing what your tech habits are, from when you check
          your email to how often you check your favorite websites or social
          media can affect your workday in a big way. Check out browser
          extensions like Freedom that limit time on social sites or non-work
          sites. This takes discipline!! By re-arranging some of those things,
          you may be able to get more done. Tracking your time for a week or two
          will help you see where you spend your time, and will help you better
          estimate your goals from #1 a little bit better the next time around.
          The next time you’re asked to repeat a task, you’ll have a better
          sense of the amount of time needed. You’ll also notice problem areas,
          where you tend to be less productive or identify certain scheduling
          quirks that you can work around–such as weekly meetings or
          appointments or even when that one coworker comes by to chat for a few
          minutes. One method that may help is a bullet journal. This is my
          favorite breakdown of how to make that happen, complete with symbols!
        </p>
      </div>
    </section>
    <div class="num-cont">
      <div class="lesson-num"><h1>10</h1></div>
    </div>
  </main>
  <nav class="nav-container">
    <div class="nav-bar">
      <a [routerLink]="['/courses/productivity/09']">Previous lesson</a>
      <a [routerLink]="['/courses/productivity/11']">Next lesson</a>
    </div>
  </nav>
</div>
