<div class="productivity-container">
  <header>
    <div class="header-app">
      <img
        src="../../assets/images/icons8-meditación-gurú-501.png"
        alt=""
        width="50px"
        height="50px"
      />
    </div>

    <div class="title-container">
      <div>
        <h1>Study and Efficiency</h1>
      </div>
      <div><h4>Take a break and take care of yourself.</h4></div>
    </div>
  </header>
  <main class="main">
    <section class="section1">
      <div class="text">
        <p>
          Talking a little more about taking breaks, this really shouldn’t be an
          option. College is hard work, and just like any other kind of job, you
          deserve a break. Don’t be so hard on yourself. Working until the wee
          hours of the morning to complete an assignment might be great for that
          class, but it’s not for you or other academic courses. You MUST take
          care of yourself in order to give your academic career the attention
          it deserves. You’re paying to get an education—to learn. Running
          yourself into the ground without allowing time for your body and mind
          to rest is unacceptable. Ophthalmologists will warn you that you need
          to remember to blink when working on a computer screen to save your
          sight. Give your eyes a rest by gazing into the horizon, preferably
          out of a window with natural light. Did you know that your eyes need
          exercise, too? Especially in today’s world where we are reading
          everything at such close distances. Keep your head in a neutral
          position and with just your eyeballs, look at the ceiling or a tree
          and try to focus. Go from corner to corner, focusing up, then do the
          same for the floor. Roll your eyes. Your hands also need a break:
          learn to use the mouse with your other hand, put the keyboard in the
          most comfortable position, which is actually on your lap. Take a
          moment to stretch your wrists and fingers. Refuel your body with the
          proper nutrients it needs to function. Pay attention to foods that
          drain your brain and eat more of the foods that power your brain. Just
          read up on how these superfoods can help your brain concentrate:
          Blueberries Avocados Fatty fish Walnuts Broccoli Yogurt And don’t
          forget to sleep and reboot!
        </p>
      </div>
    </section>
    <div class="num-cont">
      <div class="lesson-num"><h1>05</h1></div>
    </div>
  </main>
  <nav class="nav-container">
    <div class="nav-bar">
      <a [routerLink]="['/courses/study/04']">previous lesson</a>
      <a [routerLink]="['/courses/study/06']">Next lesson</a>
    </div>
  </nav>
</div>
