<div class="productivity-container">
  <header>
    <div class="header-app">
      <img
        src="../../assets/images/icons8-meditación-gurú-501.png"
        alt=""
        width="50px"
        height="50px"
      />
    </div>

    <div class="title-container">
      <div>
        <h1>Mind, Body, & Soul</h1>
      </div>
      <div><h4>Be accountable to another person.</h4></div>
    </div>
  </header>
  <main class="main">
    <section class="section1">
      <div class="text">
        <p>
          For those that work in teams, this seems obvious. Using an automated
          project management system will notify you of the next task when it’s
          finished. But you may need accountability on everyday tasks too. Like
          if you accomplished the goals in your proactive dashboard (see #…), or
          spent another time on strategic brainstorming or setting up campaigns.
          Find someone you trust that will support you and not beat you up for
          your failure. You need an encourager. This could be your supervisor,
          but more than likely it’s a colleague that can help you stay on track.
          And maybe you can help them as well.
        </p>
      </div>
    </section>
    <div class="num-cont">
      <div class="lesson-num"><h1>15</h1></div>
    </div>
  </main>
  <nav class="nav-container">
    <div class="nav-bar">
      <a [routerLink]="['/courses/productivity/14']">Previous lesson</a>
      <a [routerLink]="['/courses/productivity/16']">Next lesson</a>
    </div>
  </nav>
</div>
