<div class="course-container">
  <div class="header-app">
    <img
      src="../../../assets/images/icons8-meditación-gurú-50.png"
      alt=""
      width="50px"
      height="50px"
    />
  </div>

  <div class="card-container">
    <div class="card1">
      <div class="img-container">
        <div class="progress"><h4>100%</h4></div>
        <img
          src="../../../assets/images/bannerProductivity.jpg"
          alt="Book lover"
          class="img-card"
        />
      </div>
      <div class="card-txt-cont">
        <h3 class="card-header">Lesson #00</h3>
        <h4 class="card-header">Lesson Topic</h4>
        <p>
          Before you read one more article on how to be more productive or
          maximizing productivity in every second of every day, remember this:
          Be kind to yourself and your mistakes. You can’t expect to be more
          productive overnight. You’ve probably spent years cultivating your
          work habits–both good and bad, consciously or subconsciously–and those
          won’t immediately change. Small adjustments can lead to more lasting
          changes, but those may take time and discipline.
        </p>
        <div class="btns-cont">
          <a [routerLink]="['/courses/productivity']">Go to lesson</a>
        </div>
      </div>
    </div>
  </div>
</div>
