.course-container {
  background: url(../../../assets/images/coursesBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  position: fixed;
}
.header-app {
  position: absolute;
  z-index: 100;
  padding: 1rem;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
