<div class="productivity-container">
  <header>
    <div class="header-app">
      <img
        src="../../assets/images/icons8-meditación-gurú-501.png"
        alt=""
        width="50px"
        height="50px"
      />
    </div>

    <div class="title-container">
      <div>
        <h1>Work and Efficiency</h1>
      </div>
      <div><h4>Set small goals for the tasks....</h4></div>
    </div>
  </header>
  <main class="main">
    <section class="section1">
      <div class="text">
        <p>
          With every new project or assignment, the scope may seem too large.
          But once you start breaking it down and realizing what can be
          accomplished, you’ll notice how each part builds upon the other. One
          of the easiest and most practical things you can do is to break down
          your project into smaller goals. br What are the pieces and assets
          needed? Who do you need to talk to first? Break up key pieces of
          information before setting timelines, and then estimate how long
          they’ll take you to accomplish. Understanding the scope of what’s
          being asked, putting the steps in place, and then estimating the time
          needed will help you get a grasp of what’s being asked. Sometimes what
          seems like a big project won’t take much time at all, or vice versa.
        </p>
      </div>
    </section>
    <div class="num-cont">
      <div class="lesson-num"><h1>02</h1></div>
    </div>
  </main>
  <nav class="nav-container">
    <div class="nav-bar">
      <a [routerLink]="['/courses/productivity']">Previous lesson</a>
      <a [routerLink]="['/courses/productivity/03']">Next lesson</a>
    </div>
  </nav>
</div>
