<div class="productivity-container">
  <header>
    <div class="header-app">
      <img
        src="../../assets/images/icons8-meditación-gurú-501.png"
        alt=""
        width="50px"
        height="50px"
      />
    </div>

    <div class="title-container">
      <div>
        <h1>Work and Efficiency</h1>
      </div>
      <div><h4>Make a reasonable to-do list...</h4></div>
    </div>
  </header>
  <main class="main">
    <section class="section1">
      <div class="text">
        <p>
          To-do lists often fail because we make them way too complex or the
          tasks are unequal. Some tasks will take a long time, others won’t take
          any time at all. This creates an unbalance in the way we distribute
          our time. What happens then is that our to-do list then becomes a
          procrastination tool. Yes, that’s right. Because then we do the easy
          stuff, and then become really distracted on the hard stuff. Don’t lie,
          you’ve done that before. So then you need to manage your to-do list
          better.
        </p>
      </div>
    </section>
    <div class="num-cont">
      <div class="lesson-num"><h1>01</h1></div>
    </div>
  </main>
  <nav class="nav-container">
    <div class="nav-bar">
      <a [routerLink]="['02']">Next lesson</a>
    </div>
  </nav>
</div>
