<section class="routines-container">
    <h2 class="routines-header">Check one of our routines</h2>
    <figure class="routine-img-c">
        <img src="../../../assets/images/routines-pic1.png" alt="routine Img" 
            width="300px"
        class="routine-img">
    </figure>

    <div class="routine-card-cont">
        <div class="routine-card">
            <figure class="routine-card-img">
                <img src="" alt="">
            </figure>
            <div class="card-title-container">
                <h3 class="routine-card-title"></h3>
            </div>
            <div class="routine-card-desc">
                <p class="card-desc"></p>
                <div class="card-button-container">
                    <a class="routine-link" [routerLink]="['/routePath']"  >Try routine</a>
                </div>
            </div>
        </div>
    </div>
</section>