<div class="productivity-container">
  <header>
    <div class="header-app">
      <img
        src="../../assets/images/icons8-meditación-gurú-501.png"
        alt=""
        width="50px"
        height="50px"
      />
    </div>

    <div class="title-container">
      <div>
        <h1>Mind, Body, & Soul</h1>
      </div>
      <div><h4>Figure out your 2 peak hours.</h4></div>
    </div>
  </header>
  <main class="main">
    <section class="section1">
      <div class="text">
        <p>
          Some of us are morning people, some of us are night owls. With the
          modern business environment changing, there may be ways to accommodate
          your natural energy more than ever. Maybe “the office” doesn’t open
          until 9 am, but your peak creative energy is from 5 am to 7 am.
          Personally, I find myself most productive when most people are winding
          down their day, around 4 pm to 7 pm and then after 8 pm. Often, I’ll
          purposely take some of that time away or schedule more less-strategic
          tasks during hours when I’m not as engaged. It’s suggested that we
          should find at least 2 hours a day to dive into the harder strategic
          work and leave the other hours for meetings or less urgent tasks.
          You’ll also identify patterns and when you could engage in “deep work”
          or the idea of focused work for longer periods of time. This is a
          productivity concept from Georgetown professor Cal Newport. Some work
          (like answering emails) is shallow, while others (like coming up with
          new campaign concepts or intense photo editing) may need more focused
          time or “deep work.”
        </p>
      </div>
    </section>
    <div class="num-cont">
      <div class="lesson-num"><h1>11</h1></div>
    </div>
  </main>
  <nav class="nav-container">
    <div class="nav-bar">
      <a [routerLink]="['/courses/productivity/10']">Previous lesson</a>
      <a [routerLink]="['/courses/productivity/12']">Next lesson</a>
    </div>
  </nav>
</div>
