<div class="productivity-container">
  <header>
    <div class="header-app">
      <img
        src="../../assets/images/icons8-meditación-gurú-501.png"
        alt=""
        width="50px"
        height="50px"
      />
    </div>

    <div class="title-container">
      <div>
        <h1>Mind, Body, & Soul</h1>
      </div>
      <div><h4>Look at cuddly animal pictures.</h4></div>
    </div>
  </header>
  <main class="main">
    <section class="section1">
      <div class="text">
        <p>
          This is kinda crazy and you may not believe it, but sharing and
          looking at pictures of cute animal pictures actually increases
          attention spans and productivity. Don’t believe me? This is hardcore
          science. If you have a problem with this, then you have a problem with
          science itself (j/k). But for real–a Japanese study measured
          performance after looking at cute animals. Yes, they actually did
          this. Here’s a quote from the study: “Results show that participants
          performed tasks requiring focused attention more carefully after
          viewing cute images.” Can you believe it? Here this will help you:
        </p>
      </div>
    </section>
    <div class="num-cont">
      <div class="lesson-num"><h1>18</h1></div>
    </div>
  </main>
  <nav class="nav-container">
    <div class="nav-bar">
      <a [routerLink]="['/courses/productivity/17']">Previous lesson</a>
      <a [routerLink]="['/courses']">See more courses</a>
    </div>
  </nav>
</div>
