<div class="productivity-container">
  <header>
    <div class="header-app">
      <img
        src="../../assets/images/icons8-meditación-gurú-501.png"
        alt=""
        width="50px"
        height="50px"
      />
    </div>

    <div class="title-container">
      <div>
        <h1>Study and Efficiency</h1>
      </div>
      <div><h4>No Willpower? Enlist the Help of an App.</h4></div>
    </div>
  </header>
  <main class="main">
    <section class="section1">
      <div class="text">
        <p>
          Apps like Focus Booster and AntiSocial have your back! AntiSocial
          blocks your access to a selection of websites with a timer that you
          select. Focus Booster is a mobile phone app that relies on the
          Pomodoro Technique, where you work intensively for 25 minutes and then
          you break for five minutes. The app also includes productivity reports
          and revenue charts.
        </p>
      </div>
    </section>
    <div class="num-cont">
      <div class="lesson-num"><h1>04</h1></div>
    </div>
  </main>
  <nav class="nav-container">
    <div class="nav-bar">
      <a [routerLink]="['/courses/study/03']">previous lesson</a>
      <a [routerLink]="['/courses/study/05']">Next lesson</a>
    </div>
  </nav>
</div>
