<img src="../../../assets/images/home-bg.jpg" class="home-img" alt="HomeImage">
<main class="home">
    <header>
        <figure class="header-logo">
            <a href="https://github.com/RobTov/anavrin/" 
                target="_blank" rel="noreferrer" >
                <img src="../../../assets/icons/logo.png" alt="AnavriN">
            </a>
        </figure>
        
        <div class="header-description">
            <h1 class="home-title">Grow with us</h1>
            <h2 class="home-subtitle">..are <strong>you</strong> the best person you can <strong>be</strong>?</h2>
        </div>
    </header>
    <div class="quotes-container">
        <p class="quotes-text">{{ randomQuote.text }}</p>
        <p class="quotes-author">{{ randomQuote.author }}.</p>
        <!-- <button (clikc)="getRandomQuote()" class="quotes-btn">Random quote</button> -->
    </div>
</main>