<div class="video-container">
    <video src="../../../assets/videos/home-video.mp4" autoplay loop></video>
</div>
    <header>
        <div class="wrapper"></div>
        <div class="header-app">
        <h1>AnavriN</h1>
        <img
            src="../../../assets/images/icons8-meditación-gurú-501.png"
            alt="Logo"
            width="50px"
            height="50px"
        />
        </div>
    </header>
    <main>
        <!-- First Section 
            Add more stuff, it seems to empty !important-->
        <section class="section1">
        <h1 class="titulo">Grow With Us</h1>
        <h2 class="titulo">
            ..are <strong>you</strong> the best person you can
            <strong>Be</strong>?
        </h2>
        </section>
    </main>