.nav-container {
    position: absolute;
    bottom: 4%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav {
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 2rem;
    border-radius: .8rem;
    border: 1px solid #43919b82;
    background: #43919b69;
    backdrop-filter: blur(5);
    -webkit-backdrop-filter: blur(5);
    filter: saturate(.8);

    .nav-item {
        padding: 0 1.4rem;
        color: #e6e9eb;
        filter: brightness(5);
        transition: .3s ease-in;

        &:hover {
            transform: scale(1.05);
            opacity: .4;
        }
    }
}