<div class="productivity-container">
  <header>
    <div class="header-app">
      <img
        src="../../assets/images/icons8-meditación-gurú-501.png"
        alt=""
        width="50px"
        height="50px"
      />
    </div>

    <div class="title-container">
      <div>
        <h1>Study and Efficiency</h1>
      </div>
      <div><h4>Join or create a study group.</h4></div>
    </div>
  </header>
  <main class="main">
    <section class="section1">
      <div class="text">
        <p>
          Have we mentioned that college is hard work? It’s worth stating again.
          Finding fellow students who are struggling to understand the
          coursework can be comforting. However, joining or creating a study
          group isn’t just because misery loves company, it’s about teamwork.
          Guaranteed someone in your study group can help you through a certain
          assignment you’re struggling with and you’ll be able to do the same.
          It’s all about helping each other succeed!
        </p>
      </div>
    </section>
    <div class="num-cont">
      <div class="lesson-num"><h1>07</h1></div>
    </div>
  </main>
  <nav class="nav-container">
    <div class="nav-bar">
      <a [routerLink]="['/courses/study/06']">previous lesson</a>
      <a [routerLink]="['/courses/study/08']">Next lesson</a>
    </div>
  </nav>
</div>
