<div class="productivity-container">
  <header>
    <div class="header-app">
      <img
        src="../../assets/images/icons8-meditación-gurú-501.png"
        alt=""
        width="50px"
        height="50px"
      />
    </div>

    <div class="title-container">
      <div>
        <h1>Mind, Body, & Soul</h1>
      </div>
      <div><h4>Ask for help on stuff you don’t understand.</h4></div>
    </div>
  </header>
  <main class="main">
    <section class="section1">
      <div class="text">
        <p>
          16. If you’re prideful , you don’t like to ask for help on things you
          feel like you should be able to do. This manifests itself in my life
          by taking way too long trying to format an Excel sheet or create the
          perfect Powerpoint presentation. Instead, smart people ask for help.
          And they’re actually viewed by their colleagues as being smarter. Not
          to mention, this could save you tons of time in the long run. Yes, it
          may be difficult at first to sparse out a few extra minutes here and
          there to watch a video or call a support line, but in the end, it’ll
          help you be more efficient with those tasks.
        </p>
      </div>
    </section>
    <div class="num-cont">
      <div class="lesson-num"><h1>16</h1></div>
    </div>
  </main>
  <nav class="nav-container">
    <div class="nav-bar">
      <a [routerLink]="['/courses/productivity/15']">Previous lesson</a>
      <a [routerLink]="['/courses/productivity/17']">Next lesson</a>
    </div>
  </nav>
</div>
