<div class="productivity-container">
  <header>
    <div class="header-app">
      <img
        src="../../assets/images/icons8-meditación-gurú-501.png"
        alt=""
        width="50px"
        height="50px"
      />
    </div>

    <div class="title-container">
      <div>
        <h1>Study and Efficiency</h1>
      </div>
      <div><h4>Aromatherapy, plants and music.</h4></div>
    </div>
  </header>
  <main class="main">
    <section class="section1">
      <div class="text">
        <p>
          7 Techniques to Improve Your Study Habits Science is always tinkering
          with nature, but in this case, in a simple way, only studying the
          effects of essential oils and plants on concentration, focus, and
          memory. Some studies have shown that lavender has a good effect on
          memory, however, others have shown that its effect is negligible and
          in fact, lavender oil and teas are used to relax the body in
          preparation for sleep. So lavender may calm and center yourself, but
          for focus, sandalwood and frankincense (also known as Boswellia) have
          shown much more promising results in most studies. Plants, in general,
          have a natural, comforting effect and in their presence, humans tend
          to have a higher pain tolerance and faster recoveries from
          hospitalizations. Music, also improves brain function, can help you
          focus and also eases the pain. Learn more about the benefits of
          studying with music.
        </p>
      </div>
    </section>
    <div class="num-cont">
      <div class="lesson-num"><h1>08</h1></div>
    </div>
  </main>
  <nav class="nav-container">
    <div class="nav-bar">
      <a [routerLink]="['/courses/study/07']">previous lesson</a>
      <a [routerLink]="['/courses/study/09']">Next lesson</a>
    </div>
  </nav>
</div>
