*,
::after,
::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0px;
}
body {
  background: url(../assets/greg-rakozy-oMpAz-DN-9I-unsplash.jpg) center center /
    cover no-repeat fixed;
  background-repeat: no-repeat;
  background-position: center center;
}
