*,
::after,
::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0px;
}
::-webkit-scrollbar {
  display: none;
}

body {
  background: url(../assets/greg-rakozy-oMpAz-DN-9I-unsplash.jpg) center center /
    cover no-repeat fixed;
  background-repeat: no-repeat;
  background-position: fixed;
}

.header-app {
  color: white;
  padding: 2rem;
  top: 0px;
  height: 60px;
  z-index: 100;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  text-shadow: black 2px 2px 2px;
}

main h1 {
  margin-top: 20px;
  margin-left: 20px;
  position: absolute;
  top: 80px;
  font-size: 5rem;
  color: white;
  font-weight: bold;
  text-shadow: black 2px 2px 2px;
}
main h2 {
  position: relative;
  top: 180px;
  color: white;
  margin: 30px;
  text-shadow: black 2px 2px 2px;
}
:hover.titulo {
  transition: 3s ease;

  transform: scaleX(1.01);
}
.nav-bar,
button {
  padding: 8px;
  margin: 5px;
  border-radius: 10px;
}

.nav-bar {
  border-radius: 25px 25px 0 0;
  border: 2px solid white;
  z-index: 99;
  position: fixed;

  display: flex;
  justify-content: center;
  bottom: 0px;
  background-color: rgba(255, 0, 0, 0.205);
}
.nav-container {
  bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
