<div class="productivity-container">
  <header>
    <div class="header-app">
      <img
        src="../../assets/images/icons8-meditación-gurú-501.png"
        alt=""
        width="50px"
        height="50px"
      />
    </div>

    <div class="title-container">
      <div>
        <h1>Study and Efficiency</h1>
      </div>
      <div><h4>Stay Away From Your Phone.</h4></div>
    </div>
  </header>
  <main class="main">
    <section class="section1">
      <div class="text">
        <p>
          Distractions also include avoiding your phone. The best thing you can
          do is either put your phone on silent, turn off the alerts and flip it
          over so that you can’t even SEE them, or just turn the thing off! If
          it helps, place the phone out of sight so that you’re not even tempted
          to check your messages. The world can wait. Your education is a
          priority and anyone who’s in your circle of friends should understand
          this. If you are absolutely adamant about keeping your phone nearby in
          case of an emergency, then allow yourself some study breaks so that
          you can dedicate a certain amount of time just for checking your
          alerts and messages.
        </p>
      </div>
    </section>
    <div class="num-cont">
      <div class="lesson-num"><h1>03</h1></div>
    </div>
  </main>
  <nav class="nav-container">
    <div class="nav-bar">
      <a [routerLink]="['/courses/study/02']">previous lesson</a>
      <a [routerLink]="['/courses/study/04']">Next lesson</a>
    </div>
  </nav>
</div>
