<div class="productivity-container">
  <header>
    <div class="header-app">
      <img
        src="../../assets/images/icons8-meditación-gurú-501.png"
        alt=""
        width="50px"
        height="50px"
      />
    </div>

    <div class="title-container">
      <div>
        <h1>Study and Efficiency</h1>
      </div>
      <div><h4>Avoid social media.</h4></div>
    </div>
  </header>
  <main class="main">
    <section class="section1">
      <div class="text">
        <p>
          Speaking of distractions, nothing can sap away your time for a good
          20-30 minutes like good old social media! Emails used to be the
          necessary evil in order to keep life going, but now people are
          communicating through social media platforms more than email or even
          talking on the phone! As a result, it’s pretty common to have a
          browser tab open just for social media. The problem with this is the
          alerts! As much as you may try to ignore it, you won’t be satisfied
          until you follow through with the alert—an alert that will most likely
          require a reply! In all likelihood, it will end up being a
          conversation that could’ve waited an hour—and now you’ve just added
          another 20-30 minutes to your study time! Congratulations!
        </p>
      </div>
    </section>
    <div class="num-cont">
      <div class="lesson-num"><h1>02</h1></div>
    </div>
  </main>
  <nav class="nav-container">
    <div class="nav-bar">
      <a [routerLink]="['/courses/study']">previous lesson</a>
      <a [routerLink]="['/courses/study/03']">Next lesson</a>
    </div>
  </nav>
</div>
