<div class="profile-container">
  <header>
    <div class="header-app">
      <img
        src="../../../assets/images/icons8-meditación-gurú-50.png"
        alt=""
        width="50px"
        height="50px"
      />
    </div>
  </header>
  <main>
    <div class="contenedor">
      <div class="user-data-container">
        <form>
          <div class="form-container">
            <div class="text-inputs">
              <h1>Sign Up</h1>
              <input
                type="text"
                id="name"
                placeholder="Please enter your Name"
                required
              />
              <br />
              <input
                type="email"
                id="email"
                placeholder="Please enter your email"
                required
              />
              <div class="submit-input">
                <input type="submit" value="Register" />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>
</div>
