$main-color: #247881;
$alt-color: #43919b;
$alt-color2: #30aadd;
$secondary-color: #00ffc6;

.profile-container {
  background: url(../../../assets/images/profileBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}
.header-app {
  color: white;
  padding: 2rem;
  z-index: 100;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  text-shadow: black 2px 2px 2px;
}
main {
  display: flex;
  justify-content: space-between;
  height: 100%;

  img {
    height: 200px;
    border-radius: 50%;
  }
  .targeta {
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    display: inline-block;
    width: 40%;

    .img-container {
      margin-top: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .user-info {
      color: white;
      text-shadow: 2px 2px 2px black;
      text-align: center;
      display: flexbox;
      background-color: rgba(232, 112, 112, 0.57);
      width: 100%px;
      height: fit-content;
      border-radius: 25px;
      padding: 1rem;
      margin: 20px;
      p {
        padding: 1rem;
      }
      h1 {
        margin: 2rem 0;
      }
    }
  }
}
