<div class="profile-container">
  <header>
    <div class="header-app">
      <img
        src="../../../assets/images/icons8-meditación-gurú-50.png"
        alt=""
        width="50px"
        height="50px"
      />
    </div>
  </header>
  <main>
    <div class="targeta">
      <div class="img-container">
        <img src="../../../assets/images/avatar.jpg" alt="avatar" />
      </div>

      <div class="user-info">
        <p>IM the best</p>
        <h1>Omar Campos Naranjo</h1>
        <h1>omarcn95@gmail.com</h1>
      </div>
    </div>
    <div class="targeta">
      <div class="img-container">
        <img src="../../../assets/images/avatar.jpg" alt="avatar" />
      </div>

      <div class="user-info">
        <p>IM the best</p>
        <h1>Omar Campos Naranjo</h1>
        <h1>omarcn95@gmail.com</h1>
      </div>
    </div>
  </main>
</div>
