<div class="productivity-container">
  <header>
    <div class="header-app">
      <img
        src="../../assets/images/icons8-meditación-gurú-501.png"
        alt=""
        width="50px"
        height="50px"
      />
    </div>

    <div class="title-container">
      <div>
        <h1>Mind, Body, & Soul</h1>
      </div>
      <div><h4>Stop… …and reflect.</h4></div>
    </div>
  </header>
  <main class="main">
    <section class="section1">
      <div class="text">
        <p>
          When you’re responsible for getting multiple projects out the door,
          you have to take a step back and see what’s working, what’s not, what
          needs to be prioritized, and what needs to be changed. Building in
          time to review isn’t wasting time but optimizes your work moving
          forward. For more on post-project reflection, check out this post.
        </p>
      </div>
    </section>
    <div class="num-cont">
      <div class="lesson-num"><h1>14</h1></div>
    </div>
  </main>
  <nav class="nav-container">
    <div class="nav-bar">
      <a [routerLink]="['/courses/productivity/13']">Previous lesson</a>
      <a [routerLink]="['/courses/productivity/15']">Next lesson</a>
    </div>
  </nav>
</div>
