<div class="home-container">
  <header>
    <div class="header-app">
      <img
        src="../../../assets/images/icons8-meditación-gurú-501.png"
        alt=""
        width="50px"
        height="50px"
      />
    </div>
  </header>
  <main class="main">
    <div class="title-container">
      <h1 class="h11">Do your Routine</h1>
    </div>
    <div class="card-container">
      <div class="card1">
        <div class="img-container">
          <img
            src="../../../assets/images/habitsImgDummy.jpg"
            alt="happy girl"
            class="img-card"
          />
          <div class="text-container">
            <h2>Jane Doe</h2>
            <br /><br />
          </div>
          <div class="routine-container">
            <div class="time">
              <p>5:00</p>
              <p>6:00</p>
              <p>8:00</p>
              <p>9:00</p>
            </div>
            <div class="todo">
              <p>Make brakefast</p>
              <p>Hit the Gym</p>
              <p>Prepare for Work</p>
              <p>Work</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card1">
        <div class="img-container">
          <img
            src="../../../assets/images/habitsImgDummy.jpg"
            alt="happy girl"
            class="img-card"
          />
          <div class="text-container">
            <h2>Jane Doe</h2>
            <br /><br />
          </div>
          <div class="routine-container">
            <div class="time">
              <p>5:00</p>
              <p>6:00</p>
              <p>8:00</p>
              <p>9:00</p>
            </div>
            <div class="todo">
              <p>Make brakefast</p>
              <p>Hit the Gym</p>
              <p>Prepare for Work</p>
              <p>Work</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card1">
        <div class="img-container">
          <img
            src="../../../assets/images/habitsImgDummy.jpg"
            alt="happy girl"
            class="img-card"
          />
          <div class="text-container">
            <h2>Jane Doe</h2>
            <br /><br />
          </div>
          <div class="routine-container">
            <div class="time">
              <p>5:00</p>
              <p>6:00</p>
              <p>8:00</p>
              <p>9:00</p>
            </div>
            <div class="todo">
              <p>Make brakefast</p>
              <p>Hit the Gym</p>
              <p>Prepare for Work</p>
              <p>Work</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div class="btn-routine-container">
    <a href="" class="btn-routine">Make your Own Routine List</a>
  </div>
</div>
