<div class="home-container">
  <header>
    <div class="header-app">
      <img
        src="../../../assets/images/icons8-meditación-gurú-501.png"
        alt=""
        width="50px"
        height="50px"
      />
    </div>
  </header>
  <main class="main">
    <div class="title-container">
      <h1 class="h11">Good Habits</h1>
      <h1 class="h12">to Learn</h1>
    </div>
    <section class="grid">
      <div class="cards">
        <div class="card"></div>
      </div>
    </section>
  </main>
</div>
