<div class="productivity-container">
  <header>
    <div class="header-app">
      <img
        src="../../assets/images/icons8-meditación-gurú-501.png"
        alt=""
        width="50px"
        height="50px"
      />
    </div>

    <div class="title-container">
      <div>
        <h1>Productivity</h1>
      </div>
      <div><h4>Create a proactive dashboard.</h4></div>
    </div>
  </header>
  <main class="main">
    <section class="section1">
      <div class="text">
        <p>
          This idea is from Noah Kagan, the founder of AppSumo. Essentially,
          this is a measurable task list. If you’re noticing that a certain task
          is having a big effect on our business or is a necessary task that you
          need to keep doing, then list out the number of times that you need to
          do that task each week. The goal here is to record inputs, not just
          outcomes. This is especially useful for marketers. If you know you
          need to tweet or write a certain number of LinkedIn posts, then you
          can list these out and make sure you do that number for the week.
          Here’s an example of my proactive dashboard: using a proactive
          dashboard like this is a good way on how to be more productive Watch
          this video from Noah Kagan to grab your own proactive dashboard
          template. Another way to use a proactive dashboard is using your
          team’s project management software during team meetings to track
          progress on projects. There are plenty of alternatives out there
          including Gantt Chart software.
        </p>
      </div>
    </section>
    <div class="num-cont">
      <div class="lesson-num"><h1>06</h1></div>
    </div>
  </main>
  <nav class="nav-container">
    <div class="nav-bar">
      <a [routerLink]="['/courses/productivity/05']">Previous lesson</a>
      <a [routerLink]="['/courses/productivity/07']">Next lesson</a>
    </div>
  </nav>
</div>
