<div class="productivity-container">
  <header>
    <div class="header-app">
      <img
        src="../../assets/images/icons8-meditación-gurú-501.png"
        alt=""
        width="50px"
        height="50px"
      />
    </div>

    <div class="title-container">
      <div>
        <h1>Work and Efficiency</h1>
      </div>
      <div><h4>Follow the 2 pizza rule for meetings.</h4></div>
    </div>
  </header>
  <main class="main">
    <section class="section1">
      <div class="text">
        <p>
          how to be more productive - limit meetings to only feed with 2 pizzas
          Hungry? Meetings definitely can slow down momentum, especially when
          there’s a huge crowd of 30 people to “brainstorm.” We know how that
          goes. The same people who always talk will talk. The silent ones will
          stay silent. If you have to order more than 2 pizzas to feed the team
          you’re meeting with, then it’s too big. There will not be enough
          discussion. Not enough ideas will be expressed. Instead, if you have a
          team made up of only people who would eat two pizzas, more vibrant
          ideas will emerge. More people do not necessarily equal better ideas
          or faster action. It slows things down considerably. People are less
          interested and feel less personally responsible if the idea stalls and
          stagnates. The accountability is lost.
        </p>
      </div>
    </section>
    <div class="num-cont">
      <div class="lesson-num"><h1>08</h1></div>
    </div>
  </main>
  <nav class="nav-container">
    <div class="nav-bar">
      <a [routerLink]="['/courses/productivity/07']">Previous lesson</a>
      <a [routerLink]="['/courses/productivity/09']">Next lesson</a>
    </div>
  </nav>
</div>
