<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/cards.css" />
    <link
      rel="shortcout icon"
      href="./assets/icons8-meditación-gurú-16.png"
      type="image/x-icon"
    />
    <title>AnavriN</title>
  </head>
  <body>
    <header>
      <div class="header-app">
        <h1>AnavriN</h1>
        <img
          src="./assets/icons8-meditación-gurú-50.png"
          alt=""
          width="50px"
          height="50px"
        />
      </div>
      <main class="main">
        <div class="title-container">
          <h1 class="h11">Good Habits</h1>
        </div>
    </header>
    <main>
      <section class="section3">
        <!--Cards are scrollable todo image static on hover show information texts  -->
        <div class="card-container">
          <div class="card1">
            <div class="img-container">
              <img
                src="./assets/Book-lover-bro.png"
                alt="Book lover"
                class="img-card"
              />
            </div>
            <div class="card-txt-cont">
              
              <h3 class="card-header">Lesson #00</h3>
              <h4 class="card-header">Lesson Topic</h4>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex, aut facere. Minus, asperiores modi, corrupti ad laudantium debitis cupiditate velit eos placeat natus ducimus! Necessitatibus numquam labore enim inventore nam.lore Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, sequi. Velit dolore mollitia at consequuntur officia nemo ab fugit, magnam, iste quis atque eveniet id deleniti nam, ea vel architecto. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat praesentium earum, a reprehenderit, quas totam odio nihil deleniti impedit pariatur 
              </p>
              <div class="btns-cont">
                <button><</button>
                <button>#</button>
                <button>></button>
              </div>
            </div>
          </div>
          <div class="card1">
            <div class="img-container">
              <img
                src="./assets/Book-lover-bro.png"
                alt="Book lover"
                class="img-card"
              />
            </div>

            <div class="card-txt-cont">
              <h3 class="card-header">Lesson #00</h3>
              <h4 class="card-header">Lesson Topic</h4>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit
                
              </p>
              <div class="btns-cont">
                <button><</button>
                <button>#</button>
                <button>></button>
              </div>
            </div>
          </div>
          <div class="card1">
            <div class="img-container">
              <img
                src="./assets/Book-lover-bro.png"
                alt="Book lover"
                class="img-card"
              />
            </div>
            <div class="card-txt-cont">
              <div class="card-header">
                <h3>Lesson #00</h3>
                <h4>Lesson Topic</h4>

              </div>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit
                totam magni, dolores voluptatem hic dolorum enim et voluptas
                incidunt ut amet maxime, nobis nesciunt explicabo deleniti omnis
                veritatis repellat fugiat.
              </p>
              <div class="btns-cont">
                <button><</button>
                <button>#</button>
                <button>></button>
              </div>
            </div>
          </div>
          <div class="card1">
            <div class="img-container">
              <img
                src="./assets/Book lover-bro.png"
                alt="Book lover"
                class="img-card"
              />
            </div>
            <div class="card-txt-cont">
              <h3 class="card-header">Lesson #00</h3>
              <h4 class="card-header">Lesson Topic</h4>
              <p>lore
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit
                totam magni, dolores voluptatem hic dolorum enim et voluptas
                incidunt ut amet maxime, nobis nesciunt explicabo deleniti omnis
                veritatis repellat fugiat.
              </p>
              <div class="btns-cont">
                <button><</button>
                <button>#</button>
                <button>></button>
              </div>
            </div>
          </div>
          <div class="card1">
            <div class="img-container">
              <img
                src="./assets/Book-lover-bro.png"
                alt="Book lover"
                class="img-card"
              />
            </div>
            <div class="card-txt-cont">
              <h3 class="card-header">Lesson #00</h3>
              <h4 class="card-header">Lesson Topic</h4>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit
                totam magni, dolores voluptatem hic dolorum enim et voluptas
                incidunt ut amet maxime, nobis nesciunt explicabo deleniti omnis
                veritatis repellat fugiat.
              </p>
              <div class="btns-cont">
                <button><</button>
                <button>#</button>
                <button>></button>
              </div>
            </div>
          </div>
          <div class="card1">
            <div class="img-container">
              <img
                src="./assets/Mental-health-bro.png"
                alt="Mental health"
                class="img-card"
              />
            </div>
            <div class="card-txt-cont">
              <h3 class="card-header">Lesson #00</h3>
              <h4 class="card-header">Lesson Topic</h4>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit
                totam magni, dolores voluptatem hic dolorum enim et voluptas
                incidunt ut amet maxime, nobis nesciunt explicabo deleniti omnis
                veritatis repellat fugiat.
              </p>
              <div class="btns-cont">
                <button><</button>
                <button>#</button>
                <button>></button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="nav-container">
        <div class="nav-bar">
          <button>Home</button>
          <button>Cursos</button>
          <button>Profile</button>
        </div>
      </div>
    </footer>
    </main>

    
    <script src="./js/app.js"></script>
  </body>
</html>
