<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/index.css" />
    <link
      rel="shortcout icon"
      href="./assets/icons8-meditación-gurú-16.png"
      type="image/x-icon"
    />
    <title>AnavriN</title>
  </head>
  <body>
    <header>
      <div class="header-app">
        <img
          src="./assets/icons8-meditación-gurú-50.png"
          alt=""
          width="50px"
          height="50px"
        />
        <h1>AnavriN</h1>
      </div>
    </header>
    <main class="main">
      <section class="section1">
        <article>
          <h2>Wellcome to AnavriN</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
            amet dignissimos sit ut eligendi unde. Quas iure tempore
            necessitatibus dolorum, sed maiores ipsum, officiis id molestias
            corrupti eligendi laboriosam iusto.
          </p>
        </article>
      </section>
      <img
        class="zen"
        src="./assets/Mental health-bro.png"
        alt="Zen person"
        width="200px"
        height="200px"
      />
      <section class="section2">
        <article>
          <h2>Find joy in everithing</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
            amet dignissimos sit ut eligendi unde. Quas iure tempore
            necessitatibus dolorum, sed maiores ipsum, officiis id molestias
            corrupti eligendi laboriosam iusto.
          </p>
        </article>
      </section>
      <img
        class="zen2"
        src="./assets/Mental health-bro.png"
        alt="Zen person"
        width="200px"
        height="200px"
      />
    </main>
    <footer>
      <section class="nav-bar">
        <!-- los botones y la barra no van, iconos flotantes es lo que lleva -->
        <button>Home</button>
        <button>Cursos</button>
        <button>Profile</button>
      </section>
    </footer>
  </body>
</html>
