<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/index.css" />
    <link
      rel="shortcout icon"
      href="./assets/icons8-meditación-gurú-16.png"
      type="image/x-icon"
    />
    <title>AnavriN</title>
  </head>
  <body>
    <header>
      <div class="header-app">
        <h1>Anavrin</h1>
        <img
          src="./assets/icons8-meditación-gurú-501.png"
          alt=""
          width="50px"
          height="50px"
        />
      </div>
    </header>
    <main>
      <!-- First Section 
            Add more stuff, it seems to empty !important-->
      <section class="section1">
        <h1>Grow With Us</h1>
        <h2>
          ..are <strong>you</strong> the best person you can <strong>Be</strong>
        </h2>
      </section>
      <section class="section2">
        <!--bonus section -->
        <h2>Yes...</h2>
        <img
          src="./assets/89089-work-and-life-balance.gif"
          alt="Work and life"
        />
        <h2>you are</h2>
      </section>
      <section class="section3">
        <!--Cards are scrollable todo image static on hover show information texts -->
        <div class="card-container">
          <div class="card1">
            <img src="./assets/Book-lover-bro.png" alt="Book lover" />
            <h3 class="card-header">1targetica</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit
              totam magni, dolores voluptatem hic dolorum enim et voluptas
              incidunt ut amet maxime, nobis nesciunt explicabo deleniti omnis
              veritatis repellat fugiat.
            </p>
          </div>
          <div class="card1">
            <img src="./assets/Book-lover-bro.png" alt="Book lover" />
            <h3 class="card-header">1targetica</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit
              totam magni, dolores voluptatem hic dolorum enim et voluptas
              incidunt ut amet maxime, nobis nesciunt explicabo deleniti omnis
              veritatis repellat fugiat.
            </p>
          </div>
          <div class="card1">
            <img src="./assets/Book-lover-bro.png" alt="Book lover" />
            <h3 class="card-header">1targetica</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit
              totam magni, dolores voluptatem hic dolorum enim et voluptas
              incidunt ut amet maxime, nobis nesciunt explicabo deleniti omnis
              veritatis repellat fugiat.
            </p>
          </div>
          <div class="card1">
            <img src="./assets/Book lover-bro.png" alt="Book lover" />
            <h3 class="card-header">1targetica</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit
              totam magni, dolores voluptatem hic dolorum enim et voluptas
              incidunt ut amet maxime, nobis nesciunt explicabo deleniti omnis
              veritatis repellat fugiat.
            </p>
          </div>
          <div class="card1">
            <img src="./assets/Book-lover-bro.png" alt="Book lover" />
            <h3 class="card-header">1targetica</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit
              totam magni, dolores voluptatem hic dolorum enim et voluptas
              incidunt ut amet maxime, nobis nesciunt explicabo deleniti omnis
              veritatis repellat fugiat.
            </p>
          </div>
          <div class="card1">
            <img src="./assets/Mental-health-bro.png" alt="Mental health" />
            <h3 class="card-header">1targetica</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit
              totam magni, dolores voluptatem hic dolorum enim et voluptas
              incidunt ut amet maxime, nobis nesciunt explicabo deleniti omnis
              veritatis repellat fugiat.
            </p>
          </div>
          <div class="card1">
            <img src="./assets/Problem-solving-bro.png" alt="Problem Solving" />
            <h3 class="card-header">1targetica</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit
              totam magni, dolores voluptatem hic dolorum enim et voluptas
              incidunt ut amet maxime, nobis nesciunt explicabo deleniti omnis
              veritatis repellat fugiat.
            </p>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <section class="nav-bar">
        <!-- This buttons are just for representation !important-->
        <button>Home</button>
        <button>Cursos</button>
        <button>Profile</button>
      </section>
    </footer>
  </body>
</html>
