<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/index.css" />
    <link
      rel="shortcout icon"
      href="./assets/icons8-meditación-gurú-16.png"
      type="image/x-icon"
    />
    <title>AnavriN</title>
  </head>
  <body>
    <header>
      <div class="header-app">
        <img
          src="./assets/icons8-meditación-gurú-50.png"
          alt=""
          width="50px"
          height="50px"
        />
        <h1>Anavrin</h1>
      </div>
    </header>
    <main class="main">
      <article>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, qui?
          Exercitationem voluptas libero corporis qui nostrum a impedit. Amet
          est magni possimus perspiciatis vel? Hic minus aut exercitationem
          aliquid culpa?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, qui?
          Exercitationem voluptas libero corporis qui nostrum a impedit. Amet
          est magni possimus perspiciatis vel? Hic minus aut exercitationem
          aliquid culpa?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, qui?
          Exercitationem voluptas libero corporis qui nostrum a impedit. Amet
          est magni possimus perspiciatis vel? Hic minus aut exercitationem
          aliquid culpa?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, qui?
          Exercitationem voluptas libero corporis qui nostrum a impedit. Amet
          est magni possimus perspiciatis vel? Hic minus aut exercitationem
          aliquid culpa?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, qui?
          Exercitationem voluptas libero corporis qui nostrum a impedit. Amet
          est magni possimus perspiciatis vel? Hic minus aut exercitationem
          aliquid culpa?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, qui?
          Exercitationem voluptas libero corporis qui nostrum a impedit. Amet
          est magni possimus perspiciatis vel? Hic minus aut exercitationem
          aliquid culpa?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, qui?
          Exercitationem voluptas libero corporis qui nostrum a impedit. Amet
          est magni possimus perspiciatis vel? Hic minus aut exercitationem
          aliquid culpa?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, qui?
          Exercitationem voluptas libero corporis qui nostrum a impedit. Amet
          est magni possimus perspiciatis vel? Hic minus aut exercitationem
          aliquid culpa?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, qui?
          Exercitationem voluptas libero corporis qui nostrum a impedit. Amet
          est magni possimus perspiciatis vel? Hic minus aut exercitationem
          aliquid culpa?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, qui?
          Exercitationem voluptas libero corporis qui nostrum a impedit. Amet
          est magni possimus perspiciatis vel? Hic minus aut exercitationem
          aliquid culpa?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, qui?
          Exercitationem voluptas libero corporis qui nostrum a impedit. Amet
          est magni possimus perspiciatis vel? Hic minus aut exercitationem
          aliquid culpa?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, qui?
          Exercitationem voluptas libero corporis qui nostrum a impedit. Amet
          est magni possimus perspiciatis vel? Hic minus aut exercitationem
          aliquid culpa?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, qui?
          Exercitationem voluptas libero corporis qui nostrum a impedit. Amet
          est magni possimus perspiciatis vel? Hic minus aut exercitationem
          aliquid culpa?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, qui?
          Exercitationem voluptas libero corporis qui nostrum a impedit. Amet
          est magni possimus perspiciatis vel? Hic minus aut exercitationem
          aliquid culpa?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, qui?
          Exercitationem voluptas libero corporis qui nostrum a impedit. Amet
          est magni possimus perspiciatis vel? Hic minus aut exercitationem
          aliquid culpa?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, qui?
          Exercitationem voluptas libero corporis qui nostrum a impedit. Amet
          est magni possimus perspiciatis vel? Hic minus aut exercitationem
          aliquid culpa?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, qui?
          Exercitationem voluptas libero corporis qui nostrum a impedit. Amet
          est magni possimus perspiciatis vel? Hic minus aut exercitationem
          aliquid culpa?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, qui?
          Exercitationem voluptas libero corporis qui nostrum a impedit. Amet
          est magni possimus perspiciatis vel? Hic minus aut exercitationem
          aliquid culpa?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, qui?
          Exercitationem voluptas libero corporis qui nostrum a impedit. Amet
          est magni possimus perspiciatis vel? Hic minus aut exercitationem
          aliquid culpa?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, qui?
          Exercitationem voluptas libero corporis qui nostrum a impedit. Amet
          est magni possimus perspiciatis vel? Hic minus aut exercitationem
          aliquid culpa?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, qui?
          Exercitationem voluptas libero corporis qui nostrum a impedit. Amet
          est magni possimus perspiciatis vel? Hic minus aut exercitationem
          aliquid culpa?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, qui?
          Exercitationem voluptas libero corporis qui nostrum a impedit. Amet
          est magni possimus perspiciatis vel? Hic minus aut exercitationem
          aliquid culpa?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, qui?
          Exercitationem voluptas libero corporis qui nostrum a impedit. Amet
          est magni possimus perspiciatis vel? Hic minus aut exercitationem
          aliquid culpa?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, qui?
          Exercitationem voluptas libero corporis qui nostrum a impedit. Amet
          est magni possimus perspiciatis vel? Hic minus aut exercitationem
          aliquid culpa?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, qui?
          Exercitationem voluptas libero corporis qui nostrum a impedit. Amet
          est magni possimus perspiciatis vel? Hic minus aut exercitationem
          aliquid culpa?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, qui?
          Exercitationem voluptas libero corporis qui nostrum a impedit. Amet
          est magni possimus perspiciatis vel? Hic minus aut exercitationem
          aliquid culpa?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, qui?
          Exercitationem voluptas libero corporis qui nostrum a impedit. Amet
          est magni possimus perspiciatis vel? Hic minus aut exercitationem
          aliquid culpa?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, qui?
          Exercitationem voluptas libero corporis qui nostrum a impedit. Amet
          est magni possimus perspiciatis vel? Hic minus aut exercitationem
          aliquid culpa?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, qui?
          Exercitationem voluptas libero corporis qui nostrum a impedit. Amet
          est magni possimus perspiciatis vel? Hic minus aut exercitationem
          aliquid culpa?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, qui?
          Exercitationem voluptas libero corporis qui nostrum a impedit. Amet
          est magni possimus perspiciatis vel? Hic minus aut exercitationem
          aliquid culpa?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, qui?
          Exercitationem voluptas libero corporis qui nostrum a impedit. Amet
          est magni possimus perspiciatis vel? Hic minus aut exercitationem
          aliquid culpa?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, qui?
          Exercitationem voluptas libero corporis qui nostrum a impedit. Amet
          est magni possimus perspiciatis vel? Hic minus aut exercitationem
          aliquid culpa?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, qui?
          Exercitationem voluptas libero corporis qui nostrum a impedit. Amet
          est magni possimus perspiciatis vel? Hic minus aut exercitationem
          aliquid culpa?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, qui?
          Exercitationem voluptas libero corporis qui nostrum a impedit. Amet
          est magni possimus perspiciatis vel? Hic minus aut exercitationem
          aliquid culpa?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, qui?
          Exercitationem voluptas libero corporis qui nostrum a impedit. Amet
          est magni possimus perspiciatis vel? Hic minus aut exercitationem
          aliquid culpa?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, qui?
          Exercitationem voluptas libero corporis qui nostrum a impedit. Amet
          est magni possimus perspiciatis vel? Hic minus aut exercitationem
          aliquid culpa?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, qui?
          Exercitationem voluptas libero corporis qui nostrum a impedit. Amet
          est magni possimus perspiciatis vel? Hic minus aut exercitationem
          aliquid culpa?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, qui?
          Exercitationem voluptas libero corporis qui nostrum a impedit. Amet
          est magni possimus perspiciatis vel? Hic minus aut exercitationem
          aliquid culpa?
        </p>
      </article>
    </main>
    <footer>
      <section class="nav-bar">
        <button>Home</button>
        <button>Cursos</button>
        <button>Profile</button>
      </section>
    </footer>
  </body>
</html>
