<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/lessons.css" />
    <link
      rel="shortcout icon"
      href="./assets/icons8-meditación-gurú-16.png"
      type="image/x-icon"
    />
    <title>AnavriN</title>
  </head>
  <body>
    <header>
      <div class="header-app">
        <h1>AnavriN</h1>
        <img
          src="./assets/icons8-meditación-gurú-501.png"
          alt=""
          width="50px"
          height="50px"
        />
        <div class="lesson-num"><h1>00</h1></div>
      </div>
    </header>
    <main class="main">
      <div class="title-container">
        <div><h1 class="h11">Meditation</h1></div>
      </div>
      <section class="grid">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem
          voluptates placeat expedita repellat dolores. Voluptatem eaque unde a
          tenetur, architecto saepe obcaecati minus autem excepturi, omnis
          officiis, ut iure eius? Lorem ipsum dolor sit, amet consectetur
          adipisicing elit. Libero neque modi quae veritatis magni omnis ab qui
          aliquam quibusdam sapiente. Tempora ut veniam recusandae labore amet,
          in quibusdam natus mollitia! Lorem ipsum dolor sit, amet consectetur
          adipisicing elit. Nemo atque ad laboriosam soluta, distinctio dolor
          eos dolores officiis corporis reprehenderit perspiciatis nulla
          temporibus, ut enim neque quidem vitae voluptatum quas. Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Quas accusamus sit, odio
          beatae deleniti iste neque hic tempora dolor atque enim ipsum eius!
          Officiis aut rem numquam deleniti quisquam alias.Lorem ipsum dolor,
          sit amet consectetur adipisicing elit. Rem voluptates placeat expedita
          repellat dolores. Voluptatem eaque unde a tenetur, architecto saepe
          obcaecati minus autem excepturi, omnis officiis, ut iure eius? Lorem
          ipsum dolor sit, amet consectetur adipisicing elit. Libero neque modi
          quae veritatis magni omnis ab qui aliquam quibusdam sapiente. Tempora
          ut veniam recusandae labore amet, in quibusdam natus mollitia! Lorem
          ipsum dolor sit, amet consectetur adipisicing elit. Nemo atque ad
          laboriosam soluta, distinctio dolor eos dolores officiis corporis
          reprehenderit perspiciatis nulla temporibus, ut enim neque quidem
          vitae voluptatum quas. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Quas accusamus sit, odio beatae deleniti iste neque
          hic tempora dolor atque enim ipsum eius! Officiis aut rem numquam
          deleniti quisquam alias.Lorem ipsum dolor, sit amet consectetur
          adipisicing elit. Rem voluptates placeat expedita repellat dolores.
          Voluptatem eaque unde a tenetur, architecto saepe obcaecati minus
          autem excepturi, omnis officiis, ut iure eius? Lorem ipsum dolor sit,
          amet consectetur adipisicing elit. Libero neque modi quae veritatis
          magni omnis ab qui aliquam quibusdam sapiente. Tempora ut veniam
          recusandae labore amet, in quibusdam natus mollitia! Lorem ipsum dolor
          sit, amet consectetur adipisicing elit. Nemo atque ad laboriosam
          soluta, distinctio dolor eos dolores officiis corporis reprehenderit
          perspiciatis nulla temporibus, ut enim neque quidem vitae voluptatum
          quas. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas
          accusamus sit, odio beatae deleniti iste neque hic tempora dolor atque
          enim ipsum eius! Officiis aut rem numquam deleniti quisquam
          alias.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem
          voluptates placeat expedita repellat dolores. Voluptatem eaque unde a
          tenetur, architecto saepe obcaecati minus autem excepturi, omnis
          officiis, ut iure eius? Lorem ipsum dolor sit, amet consectetur
          adipisicing elit. Libero neque modi quae veritatis magni omnis ab qui
          aliquam quibusdam sapiente. Tempora ut veniam recusandae labore amet,
          in quibusdam natus mollitia! Lorem ipsum dolor sit, amet consectetur
          adipisicing elit. Nemo atque ad laboriosam soluta, distinctio dolor
          eos dolores officiis corporis reprehenderit perspiciatis nulla
          temporibus, ut enim neque quidem vitae voluptatum quas. Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Quas accusamus sit, odio
          beatae deleniti iste neque hic tempora dolor atque enim ipsum eius!
          Officiis aut rem numquam deleniti quisquam alias.Lorem ipsum dolor,
          sit amet consectetur adipisicing elit. Rem voluptates placeat expedita
          repellat dolores. Voluptatem eaque unde a tenetur, architecto saepe
          obcaecati minus autem excepturi, omnis officiis, ut iure eius? Lorem
          ipsum dolor sit, amet consectetur adipisicing elit. Libero neque modi
          quae veritatis magni omnis ab qui aliquam quibusdam sapiente. Tempora
          ut veniam recusandae labore amet, in quibusdam natus mollitia! Lorem
          ipsum dolor sit, amet consectetur adipisicing elit. Nemo atque ad
          laboriosam soluta, distinctio dolor eos dolores officiis corporis
          reprehenderit perspiciatis nulla temporibus, ut enim neque quidem
          vitae voluptatum quas. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Quas accusamus sit, odio beatae deleniti iste neque
          hic tempora dolor atque enim ipsum eius! Officiis aut rem numquam
          deleniti quisquam alias.Lorem ipsum dolor, sit amet consectetur
          adipisicing elit. Rem voluptates placeat expedita repellat dolores.
          Voluptatem eaque unde a tenetur, architecto saepe obcaecati minus
          autem excepturi, omnis officiis, ut iure eius? Lorem ipsum dolor sit,
          amet consectetur adipisicing elit. Libero neque modi quae veritatis
          magni omnis ab qui aliquam quibusdam sapiente. Tempora ut veniam
          recusandae labore amet, in quibusdam natus mollitia! Lorem ipsum dolor
          sit, amet consectetur adipisicing elit. Nemo atque ad laboriosam
          soluta, distinctio dolor eos dolores officiis corporis reprehenderit
          perspiciatis nulla temporibus, ut enim neque quidem vitae voluptatum
          quas. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas
          accusamus sit, odio beatae deleniti iste neque hic tempora dolor atque
          enim ipsum eius! Officiis aut rem numquam deleniti quisquam
          alias.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem
          voluptates placeat expedita repellat dolores. Voluptatem eaque unde a
          tenetur, architecto saepe obcaecati minus autem excepturi, omnis
          officiis, ut iure eius? Lorem ipsum dolor sit, amet consectetur
          adipisicing elit. Libero neque modi quae veritatis magni omnis ab qui
          aliquam quibusdam sapiente. Tempora ut veniam recusandae labore amet,
          in quibusdam natus mollitia! Lorem ipsum dolor sit, amet consectetur
          adipisicing elit. Nemo atque ad laboriosam soluta, distinctio dolor
          eos dolores officiis corporis reprehenderit perspiciatis nulla
          temporibus, ut enim neque quidem vitae voluptatum quas. Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Quas accusamus sit, odio
          beatae deleniti iste neque hic tempora dolor atque enim ipsum eius!
          Officiis aut rem numquam deleniti quisquam alias.Lorem ipsum dolor,
          sit amet consectetur adipisicing elit. Rem voluptates placeat expedita
          repellat dolores. Voluptatem eaque unde a tenetur, architecto saepe
          obcaecati minus autem excepturi, omnis officiis, ut iure eius? Lorem
          ipsum dolor sit, amet consectetur adipisicing elit. Libero neque modi
          quae veritatis magni omnis ab qui aliquam quibusdam sapiente. Tempora
          ut veniam recusandae labore amet, in quibusdam natus mollitia! Lorem
          ipsum dolor sit, amet consectetur adipisicing elit. Nemo atque ad
          laboriosam soluta, distinctio dolor eos dolores officiis corporis
          reprehenderit perspiciatis nulla temporibus, ut enim neque quidem
          vitae voluptatum quas. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Quas accusamus sit, odio beatae deleniti iste neque
          hic tempora dolor atque enim ipsum eius! Officiis aut rem numquam
          deleniti quisquam alias.Lorem ipsum dolor, sit amet consectetur
          adipisicing elit. Rem voluptates placeat expedita repellat dolores.
          Voluptatem eaque unde a tenetur, architecto saepe obcaecati minus
          autem excepturi, omnis officiis, ut iure eius? Lorem ipsum dolor sit,
          amet consectetur adipisicing elit. Libero neque modi quae veritatis
          magni omnis ab qui aliquam quibusdam sapiente. Tempora ut veniam
          recusandae labore amet, in quibusdam natus mollitia! Lorem ipsum dolor
          sit, amet consectetur adipisicing elit. Nemo atque ad laboriosam
          soluta, distinctio dolor eos dolores officiis corporis reprehenderit
          perspiciatis nulla temporibus, ut enim neque quidem vitae voluptatum
          quas. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas
          accusamus sit, odio beatae deleniti iste neque hic tempora dolor atque
          enim ipsum eius! Officiis aut rem numquam deleniti quisquam
          alias.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem
          voluptates placeat expedita repellat dolores. Voluptatem eaque unde a
          tenetur, architecto saepe obcaecati minus autem excepturi, omnis
          officiis, ut iure eius? Lorem ipsum dolor sit, amet consectetur
          adipisicing elit. Libero neque modi quae veritatis magni omnis ab qui
          aliquam quibusdam sapiente. Tempora ut veniam recusandae labore amet,
          in quibusdam natus mollitia! Lorem ipsum dolor sit, amet consectetur
          adipisicing elit. Nemo atque ad laboriosam soluta, distinctio dolor
          eos dolores officiis corporis reprehenderit perspiciatis nulla
          temporibus, ut enim neque quidem vitae voluptatum quas. Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Quas accusamus sit, odio
          beatae deleniti iste neque hic tempora dolor atque enim ipsum eius!
          Officiis aut rem numquam deleniti quisquam alias.Lorem ipsum dolor,
          sit amet consectetur adipisicing elit. Rem voluptates placeat expedita
          repellat dolores. Voluptatem eaque unde a tenetur, architecto saepe
          obcaecati minus autem excepturi, omnis officiis, ut iure eius? Lorem
          ipsum dolor sit, amet consectetur adipisicing elit. Libero neque modi
          quae veritatis magni omnis ab qui aliquam quibusdam sapiente. Tempora
          ut veniam recusandae labore amet, in quibusdam natus mollitia! Lorem
          ipsum dolor sit, amet consectetur adipisicing elit. Nemo atque ad
          laboriosam soluta, distinctio dolor eos dolores officiis corporis
          reprehenderit perspiciatis nulla temporibus, ut enim neque quidem
          vitae voluptatum quas. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Quas accusamus sit, odio beatae deleniti iste neque
          hic tempora dolor atque enim ipsum eius! Officiis aut rem numquam
          deleniti quisquam alias.Lorem ipsum dolor, sit amet consectetur
          adipisicing elit. Rem voluptates placeat expedita repellat dolores.
          Voluptatem eaque unde a tenetur, architecto saepe obcaecati minus
          autem excepturi, omnis officiis, ut iure eius? Lorem ipsum dolor sit,
          amet consectetur adipisicing elit. Libero neque modi quae veritatis
          magni omnis ab qui aliquam quibusdam sapiente. Tempora ut veniam
          recusandae labore amet, in quibusdam natus mollitia! Lorem ipsum dolor
          sit, amet consectetur adipisicing elit. Nemo atque ad laboriosam
          soluta, distinctio dolor eos dolores officiis corporis reprehenderit
          perspiciatis nulla temporibus, ut enim neque quidem vitae voluptatum
          quas. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas
          accusamus sit, odio beatae deleniti iste neque hic tempora dolor atque
          enim ipsum eius! Officiis aut rem numquam deleniti quisquam
          alias.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem
          voluptates placeat expedita repellat dolores. Voluptatem eaque unde a
          tenetur, architecto saepe obcaecati minus autem excepturi, omnis
          officiis, ut iure eius? Lorem ipsum dolor sit, amet consectetur
          adipisicing elit. Libero neque modi quae veritatis magni omnis ab qui
          aliquam quibusdam sapiente. Tempora ut veniam recusandae labore amet,
          in quibusdam natus mollitia! Lorem ipsum dolor sit, amet consectetur
          adipisicing elit. Nemo atque ad laboriosam soluta, distinctio dolor
          eos dolores officiis corporis reprehenderit perspiciatis nulla
          temporibus, ut enim neque quidem vitae voluptatum quas. Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Quas accusamus sit, odio
          beatae deleniti iste neque hic tempora dolor atque enim ipsum eius!
          Officiis aut rem numquam deleniti quisquam alias.Lorem ipsum dolor,
          sit amet consectetur adipisicing elit. Rem voluptates placeat expedita
          repellat dolores. Voluptatem eaque unde a tenetur, architecto saepe
          obcaecati minus autem excepturi, omnis officiis, ut iure eius? Lorem
          ipsum dolor sit, amet consectetur adipisicing elit. Libero neque modi
          quae veritatis magni omnis ab qui aliquam quibusdam sapiente. Tempora
          ut veniam recusandae labore amet, in quibusdam natus mollitia! Lorem
          ipsum dolor sit, amet consectetur adipisicing elit. Nemo atque ad
          laboriosam soluta, distinctio dolor eos dolores officiis corporis
          reprehenderit perspiciatis nulla temporibus, ut enim neque quidem
          vitae voluptatum quas. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Quas accusamus sit, odio beatae deleniti iste neque
          hic tempora dolor atque enim ipsum eius! Officiis aut rem numquam
          deleniti quisquam alias.Lorem ipsum dolor, sit amet consectetur
          adipisicing elit. Rem voluptates placeat expedita repellat dolores.
          Voluptatem eaque unde a tenetur, architecto saepe obcaecati minus
          autem excepturi, omnis officiis, ut iure eius? Lorem ipsum dolor sit,
          amet consectetur adipisicing elit. Libero neque modi quae veritatis
          magni omnis ab qui aliquam quibusdam sapiente. Tempora ut veniam
          recusandae labore amet, in quibusdam natus mollitia! Lorem ipsum dolor
          sit, amet consectetur adipisicing elit. Nemo atque ad laboriosam
          soluta, distinctio dolor eos dolores officiis corporis reprehenderit
          perspiciatis nulla temporibus, ut enim neque quidem vitae voluptatum
          quas. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas
          accusamus sit, odio beatae deleniti iste neque hic tempora dolor atque
          enim ipsum eius! Officiis aut rem numquam deleniti quisquam
          alias.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem
          voluptates placeat expedita repellat dolores. Voluptatem eaque unde a
          tenetur, architecto saepe obcaecati minus autem excepturi, omnis
          officiis, ut iure eius? Lorem ipsum dolor sit, amet consectetur
          adipisicing elit. Libero neque modi quae veritatis magni omnis ab qui
          aliquam quibusdam sapiente. Tempora ut veniam recusandae labore amet,
          in quibusdam natus mollitia! Lorem ipsum dolor sit, amet consectetur
          adipisicing elit. Nemo atque ad laboriosam soluta, distinctio dolor
          eos dolores officiis corporis reprehenderit perspiciatis nulla
          temporibus, ut enim neque quidem vitae voluptatum quas. Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Quas accusamus sit, odio
          beatae deleniti iste neque hic tempora dolor atque enim ipsum eius!
          Officiis aut rem numquam deleniti quisquam alias.Lorem ipsum dolor,
          sit amet consectetur adipisicing elit. Rem voluptates placeat expedita
          repellat dolores. Voluptatem eaque unde a tenetur, architecto saepe
          obcaecati minus autem excepturi, omnis officiis, ut iure eius? Lorem
          ipsum dolor sit, amet consectetur adipisicing elit. Libero neque modi
          quae veritatis magni omnis ab qui aliquam quibusdam sapiente. Tempora
          ut veniam recusandae labore amet, in quibusdam natus mollitia! Lorem
          ipsum dolor sit, amet consectetur adipisicing elit. Nemo atque ad
          laboriosam soluta, distinctio dolor eos dolores officiis corporis
          reprehenderit perspiciatis nulla temporibus, ut enim neque quidem
          vitae voluptatum quas. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Quas accusamus sit, odio beatae deleniti iste neque
          hic tempora dolor atque enim ipsum eius! Officiis aut rem numquam
          deleniti quisquam alias.Lorem ipsum dolor, sit amet consectetur
          adipisicing elit. Rem voluptates placeat expedita repellat dolores.
          Voluptatem eaque unde a tenetur, architecto saepe obcaecati minus
          autem excepturi, omnis officiis, ut iure eius? Lorem ipsum dolor sit,
          amet consectetur adipisicing elit. Libero neque modi quae veritatis
          magni omnis ab qui aliquam quibusdam sapiente. Tempora ut veniam
          recusandae labore amet, in quibusdam natus mollitia! Lorem ipsum dolor
          sit, amet consectetur adipisicing elit. Nemo atque ad laboriosam
          soluta, distinctio dolor eos dolores officiis corporis reprehenderit
          perspiciatis nulla temporibus, ut enim neque quidem vitae voluptatum
          quas. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas
          accusamus sit, odio beatae deleniti iste neque hic tempora dolor atque
          enim ipsum eius! Officiis aut rem numquam deleniti quisquam
          alias.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem
          voluptates placeat expedita repellat dolores. Voluptatem eaque unde a
          tenetur, architecto saepe obcaecati minus autem excepturi, omnis
          officiis, ut iure eius? Lorem ipsum dolor sit, amet consectetur
          adipisicing elit. Libero neque modi quae veritatis magni omnis ab qui
          aliquam quibusdam sapiente. Tempora ut veniam recusandae labore amet,
          in quibusdam natus mollitia! Lorem ipsum dolor sit, amet consectetur
          adipisicing elit. Nemo atque ad laboriosam soluta, distinctio dolor
          eos dolores officiis corporis reprehenderit perspiciatis nulla
          temporibus, ut enim neque quidem vitae voluptatum quas. Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Quas accusamus sit, odio
          beatae deleniti iste neque hic tempora dolor atque enim ipsum eius!
          Officiis aut rem numquam deleniti quisquam alias.Lorem ipsum dolor,
          sit amet consectetur adipisicing elit. Rem voluptates placeat expedita
          repellat dolores. Voluptatem eaque unde a tenetur, architecto saepe
          obcaecati minus autem excepturi, omnis officiis, ut iure eius? Lorem
          ipsum dolor sit, amet consectetur adipisicing elit. Libero neque modi
          quae veritatis magni omnis ab qui aliquam quibusdam sapiente. Tempora
          ut veniam recusandae labore amet, in quibusdam natus mollitia! Lorem
          ipsum dolor sit, amet consectetur adipisicing elit. Nemo atque ad
          laboriosam soluta, distinctio dolor eos dolores officiis corporis
          reprehenderit perspiciatis nulla temporibus, ut enim neque quidem
          vitae voluptatum quas. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Quas accusamus sit, odio beatae deleniti iste neque
          hic tempora dolor atque enim ipsum eius! Officiis aut rem numquam
          deleniti quisquam alias.Lorem ipsum dolor, sit amet consectetur
          adipisicing elit. Rem voluptates placeat expedita repellat dolores.
          Voluptatem eaque unde a tenetur, architecto saepe obcaecati minus
          autem excepturi, omnis officiis, ut iure eius? Lorem ipsum dolor sit,
          amet consectetur adipisicing elit. Libero neque modi quae veritatis
          magni omnis ab qui aliquam quibusdam sapiente. Tempora ut veniam
          recusandae labore amet, in quibusdam natus mollitia! Lorem ipsum dolor
          sit, amet consectetur adipisicing elit. Nemo atque ad laboriosam
          soluta, distinctio dolor eos dolores officiis corporis reprehenderit
          perspiciatis nulla temporibus, ut enim neque quidem vitae voluptatum
          quas. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas
          accusamus sit, odio beatae deleniti iste neque hic tempora dolor atque
          enim ipsum eius! Officiis aut rem numquam deleniti quisquam
          alias.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem
          voluptates placeat expedita repellat dolores. Voluptatem eaque unde a
          tenetur, architecto saepe obcaecati minus autem excepturi, omnis
          officiis, ut iure eius? Lorem ipsum dolor sit, amet consectetur
          adipisicing elit. Libero neque modi quae veritatis magni omnis ab qui
          aliquam quibusdam sapiente. Tempora ut veniam recusandae labore amet,
          in quibusdam natus mollitia! Lorem ipsum dolor sit, amet consectetur
          adipisicing elit. Nemo atque ad laboriosam soluta, distinctio dolor
          eos dolores officiis corporis reprehenderit perspiciatis nulla
          temporibus, ut enim neque quidem vitae voluptatum quas. Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Quas accusamus sit, odio
          beatae deleniti iste neque hic tempora dolor atque enim ipsum eius!
          Officiis aut rem numquam deleniti quisquam alias.
        </p>
      </section>
    </main>

    <footer>
      <div class="nav-container">
        <div class="nav-bar">
          <button>Home</button>
          <button>Cursos</button>
          <button>Profile</button>
        </div>
      </div>
    </footer>
    <script src="./js/app.js"></script>
  </body>
</html>
