<!-- source https://www.fnu.edu/7-techniques-improve-study-habits/ by Maria Zegarra -->

<div class="productivity-container">
  <header>
    <div class="header-app">
      <img
        src="../../assets/images/icons8-meditación-gurú-501.png"
        alt=""
        width="50px"
        height="50px"
      />
    </div>

    <div class="title-container">
      <div>
        <h1>Study and Efficiency</h1>
      </div>
      <div><h4>Find a good studying spot.</h4></div>
    </div>
  </header>
  <main class="main">
    <section class="section1">
      <div class="text">
        <p>
          This is important. You need to be in an environment with little to no
          distractions—an environment that will aid in keeping you focused on
          your assignments. The library has always been a reliable place to get
          some real academic work done, but if you prefer someplace else, just
          make sure that you’re set up for success. Your university may have
          other places on campus that will provide you with a nice little
          studying spot. While cafeterias may be quite busy, there are some
          university campus cafeterias that tend to have just enough silence for
          students to study while they grab a bite to eat. You might get campus
          fever and decide to venture outside of your university to get some
          work done. Many students find little coffee shops with Wi-Fi that will
          let them sit there all day long for a buying customer. Outdoor parks
          and recreational centers, even the public library might be a nice
          change of scenery. Even study lighting is also important. If you want
          to preserve your eyesight and maximize your time and energy, then
          choose lighting that will not cause eye strain or fatigue so you can
          keep your study session effective at any time of the day. Establish
          rules when you’re in your study zone. Let people living with you know
          that when your door is closed, it means you do not want to be
          disturbed. Try not to respond to phone calls or texts, this will break
          your concentration and you will lose focus. Let’s not forget about
          your home. No matter the size of your apartment or house, we recommend
          dedicating a little office space just for studying—away from any
          distractions.
        </p>
      </div>
    </section>
    <div class="num-cont">
      <div class="lesson-num"><h1>01</h1></div>
    </div>
  </main>
  <nav class="nav-container">
    <div class="nav-bar">
      <a [routerLink]="['02']">Next lesson</a>
    </div>
  </nav>
</div>
