.container {
  background: url("../../../assets/images/congratsBackground.jpg");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  .text {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    h1 {
      text-decoration: ;
    }
  }
}
