.nav-container {
    position: absolute;
    bottom: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-bar {
    width: auto;
    height: 1.8rem;

    border-radius: .5rem;
    display: flex;
    align-items: center;
    background-color: #247881;
    gap: 1rem;

    a {
        text-decoration: none;
        padding: 0 .5rem;
        color: aliceblue;
        transition: .3s ease-in;

        &:hover {
            opacity: .6;
        }
    }
}