<div class="productivity-container">
  <header>
    <div class="header-app">
      <img
        src="../../assets/images/icons8-meditación-gurú-501.png"
        alt=""
        width="50px"
        height="50px"
      />
    </div>

    <div class="title-container">
      <div>
        <h1>Productivity</h1>
      </div>
      <div><h4>Stop multi-tasking.</h4></div>
    </div>
  </header>
  <main class="main">
    <section class="section1">
      <div class="text">
        <p>
          While we’re on the topic of focusing on one task or goal at a time,
          let’s talk about multitasking. Its easy to get distracted and try to
          work on multiple tasks, but the reality is, it makes you LESS
          productive. The constant task switching is making us more tired and
          reducing productivity. It’s taking up brain energy to switch and
          change that often. We aren’t being more productive, we’re skimming
          over the surface of things. The modern workplace environment won’t
          support you in your quest to be more focused–it’s virtually an
          impossible task when Slack, Skype and Salesforce are jockeying for our
          attention. Here’s a quote from a more credentialed person than me. A
          neuroscience behavior professor Daniel Levitin at McGill says: “That
          switching comes with a biological cost that ends up making us feel
          tired much more quickly than if we sustain attention on one thing.”
          And you know what else? Caffeine won’t necessarily help us. In fact,
          we probably just need to take a break for awhile instead…People eat
          more, they take more caffeine. Often what you really need in that
          moment isn’t caffeine, but just a break. If you aren’t taking regular
          breaks every couple of hours, your brain won’t benefit from that extra
          cup of coffee.” Ouch. Don’t tell my favorite barista. To really stop
          multi-tasking, you may need apps to block you from clicking over. This
          will keep the distractions at bay, especially for us constant
          consumers.
        </p>
      </div>
    </section>
    <div class="num-cont">
      <div class="lesson-num"><h1>04</h1></div>
    </div>
  </main>
  <nav class="nav-container">
    <div class="nav-bar">
      <a [routerLink]="['/courses/productivity/03']">Previous lesson</a>
      <a [routerLink]="['/courses/productivity/05']">Next lesson</a>
    </div>
  </nav>
</div>
