<div class="productivity-container">
  <header>
    <div class="header-app">
      <img
        src="../../assets/images/icons8-meditación-gurú-501.png"
        alt=""
        width="50px"
        height="50px"
      />
    </div>

    <div class="title-container">
      <div>
        <h1>Work and Efficiency</h1>
      </div>
      <div><h4>Group similar tasks together.</h4></div>
    </div>
  </header>
  <main class="main">
    <section class="section1">
      <div class="text">
        <p>
          When we switch between tasks, we naturally create friction. Starting
          and stopping. Opening and closing. Beginning and ending. All of those
          small moments add up and break our concentration. Then we get
          distracted and forget why we even were reviewing something in the
          first place. But the way to cut down on switching between tasks is to
          group similar ones together. Don’t respond to just one email and then
          move on. Respond to all of them and then don’t come back until several
          hours later. Or batch all of your emails together.
        </p>
      </div>
    </section>
    <div class="num-cont">
      <div class="lesson-num"><h1>09</h1></div>
    </div>
  </main>
  <nav class="nav-container">
    <div class="nav-bar">
      <a [routerLink]="['/courses/productivity/08']">Previous lesson</a>
      <a [routerLink]="['/courses/productivity/10']">Next lesson</a>
    </div>
  </nav>
</div>
