<div class="productivity-container">
  <header>
    <div class="header-app">
      <img
        src="../../assets/images/icons8-meditación-gurú-501.png"
        alt=""
        width="50px"
        height="50px"
      />
    </div>

    <div class="title-container">
      <div>
        <h1>Study and Efficiency</h1>
      </div>
      <div><h4>Make Study Time a Part of Your Daily Routine</h4></div>
    </div>
  </header>
  <main class="main">
    <section class="section1">
      <div class="text">
        <p>
          If cramming all of your study time into a few long days isn’t working
          for you then it’s time to try something new and less stressful. What
          you do every day is more important than what you do occasionally, so
          make time for studying every single day, with or without exams coming
          up. Consistency is key and once you start getting into good study
          habits, so make it a routine that you will be able to maintain
          throughout the school year. When it becomes part of your schedule, you
          don’t need to find the time, you’ve made time for your study sessions
          each month. Don’t forget to also check your schedule for the week or
          month, and consider your personal commitments: chores, must-attend
          activities, and appointments. All you need to do now is to stay
          committed to your new study schedule. Make studying your priority and
          place these sessions when you’re at your peak performance times to
          make them extra effective. Some people work best in the mornings, and
          others, at night. Experiment with this and don’t assume that because
          you wake early you should study early, but instead try morning, noon,
          and night to see which is best.
        </p>
      </div>
    </section>
    <div class="num-cont">
      <div class="lesson-num"><h1>11</h1></div>
    </div>
  </main>
  <nav class="nav-container">
    <div class="nav-bar">
      <a [routerLink]="['/courses/study/10']">previous lesson</a>
      <a [routerLink]="['/courses']">See more courses</a>
    </div>
  </nav>
</div>
