<div class="productivity-container">
  <header>
    <div class="header-app">
      <img
        src="../../assets/images/icons8-meditación-gurú-501.png"
        alt=""
        width="50px"
        height="50px"
      />
    </div>

    <div class="title-container">
      <div>
        <h1>Mind, Body, & Soul</h1>
      </div>
      <div><h4>Get sunlight.</h4></div>
    </div>
  </header>
  <main class="main">
    <section class="section1">
      <div class="text">
        <p>
          Now that more workers have shifted to remote environments, this
          productivity tip is more relevant than ever. According to a study by
          Cornell University professor Dr. Alan Hedge in 2018 entitled Daylight
          & The Workplace Study: How natural light improves worker health,
          wellness and productivity, you will boost your productivity and
          alertness with more natural light. Why do you think offices with
          windows are in such high demand? It also affects the timing of the
          circadian clock which then impacts your wakefulness and fatigue.
          “Workers in offices with optimized natural light reported a 51 percent
          drop in the incidence of eyestrain and a 63 percent drop in the
          incidence of headaches, both of which can detract from productivity.”
          Daylight & The Workplace Study: How natural light improves worker
          health, wellness, and productivity. I used to work in office buildings
          where I also found myself in the middle of the floor or stuck in a
          conference room with no window. Plus, where I live it would get dark
          early in the wintertime, including the last part of the working day.
          Not good. What could I do? I bought a lightbox to bring an extra glow
          to my workspace. Try it if you’re in a similar position.
        </p>
      </div>
    </section>
    <div class="num-cont">
      <div class="lesson-num"><h1>17</h1></div>
    </div>
  </main>
  <nav class="nav-container">
    <div class="nav-bar">
      <a [routerLink]="['/courses/productivity/16']">Previous lesson</a>
      <a [routerLink]="['/courses/productivity/18']">Next lesson</a>
    </div>
  </nav>
</div>
