<div class="productivity-container">
  <header>
    <div class="header-app">
      <img
        src="../../assets/images/icons8-meditación-gurú-501.png"
        alt=""
        width="50px"
        height="50px"
      />
    </div>

    <div class="title-container">
      <div>
        <h1>Study and Efficiency</h1>
      </div>
      <div><h4>Leave time for the last-minute review.</h4></div>
    </div>
  </header>
  <main class="main">
    <section class="section1">
      <div class="text">
        <p>
          Here are where well-organized lecture notes come into play. Always,
          always leave time for the last-minute review. Here, we’re exercising
          the tried and true memory game. This is a technique that most students
          apply as one study habit. That’s just impossible for the amount of
          college work you’ll be taking on, but it can work quite well as a
          last-minute review—only if you have good notes! Better still, ff you
          can pair reviewing your notes with a good night’s sleep, then you will
          significantly improve your ability to retain more information. Just
          know that studying when you’re sleepy is ineffective. If your body is
          telling you that you’re tired, then have a nap or go to bed early. A
          good night’s sleep is another technique to use that will help you
          understand and remember information better. If you’re finding that you
          are getting stressed out or tired, reflect back on your study schedule
          and priorities. Make sure that you have dedicated time for rest and
          de-stressing activities as well.
        </p>
      </div>
    </section>
    <div class="num-cont">
      <div class="lesson-num"><h1>09</h1></div>
    </div>
  </main>
  <nav class="nav-container">
    <div class="nav-bar">
      <a [routerLink]="['/courses/study/08']">previous lesson</a>
      <a [routerLink]="['/courses/study/10']">Next lesson</a>
    </div>
  </nav>
</div>
