<div class="productivity-container">
  <header>
    <div class="header-app">
      <img
        src="../../assets/images/icons8-meditación-gurú-501.png"
        alt=""
        width="50px"
        height="50px"
      />
    </div>

    <div class="title-container">
      <div>
        <h1>Study and Efficiency</h1>
      </div>
      <div><h4>Understand Your Best Learning Style</h4></div>
    </div>
  </header>
  <main class="main">
    <section class="section1">
      <div class="text">
        <p>
          It’s important to know that there are many different styles of
          learning and each person will retain information better in different
          ways. Visual learners who learn best when pictures, images, and
          spatial understanding is used. Auditory learners who prefer using
          music, sounds or both. Kinesthetic learners actually use a more
          physical style of learning through using the body, sense of touch and
          hands. Logical learners need to use reasoning, logic, and systems.
          Verbal learners will prefer using words in writing and speech. Social
          learners will thrive in learning with other people or in groups.
          Solitary learners are able to learn best when alone. Think about which
          style of learning works best for you, and it will help you determine
          how to study, where to study when to study and other important factors
          like what study aids you should use and be aware of, and knowing what
          things may distract you while you are trying to study.
        </p>
      </div>
    </section>
    <div class="num-cont">
      <div class="lesson-num"><h1>10</h1></div>
    </div>
  </main>
  <nav class="nav-container">
    <div class="nav-bar">
      <a [routerLink]="['/courses/study/09']">previous lesson</a>
      <a [routerLink]="['/courses/study/11']">Next lesson</a>
    </div>
  </nav>
</div>
