<div class="productivity-container">
  <header>
    <div class="header-app">
      <img
        src="../../assets/images/icons8-meditación-gurú-501.png"
        alt=""
        width="50px"
        height="50px"
      />
    </div>

    <div class="title-container">
      <div>
        <h1>Work and Efficiency</h1>
      </div>
      <div><h4>Find a method for delegating and following-up.</h4></div>
    </div>
  </header>
  <main class="main">
    <section class="section1">
      <div class="text">
        <p>
          It’s one thing to give your team tasks and projects; it’s another
          thing to make sure they finish the work and get it done. Then passing
          it off for approvals is another piece of the pie that you have to
          tackle. Finding a reliable method for tracking your team’s projects
          will make your work more efficient. Collaboration tools and project
          management software like Workzone can definitely help with this, but
          you also have to commit to using tools like this so you don’t let down
          your fellow co-workers. But your individual part is important in this,
          too. The more you update and follow-up with next steps, it’ll help
          your co-workers stay on track, too.
        </p>
      </div>
    </section>
    <div class="num-cont">
      <div class="lesson-num"><h1>05</h1></div>
    </div>
  </main>
  <nav class="nav-container">
    <div class="nav-bar">
      <a [routerLink]="['/courses/productivity/04']">Previous lesson</a>
      <a [routerLink]="['/courses/productivity/06']">Next lesson</a>
    </div>
  </nav>
</div>
