<div class="productivity-container">
  <header>
    <div class="header-app">
      <img
        src="../../assets/images/icons8-meditación-gurú-501.png"
        alt=""
        width="50px"
        height="50px"
      />
    </div>

    <div class="title-container">
      <div>
        <h1>Mind, Body, & Soul</h1>
      </div>
      <div><h4>Throw stuff away and declutter.</h4></div>
    </div>
  </header>
  <main class="main">
    <section class="section1">
      <div class="text">
        <p>
          12. Throw stuff away and declutter. Did you know your physical
          environment impacts your work and productivity? And I don’t mean just
          if you work in a “cool” office or not. Depending on your company and
          your role in the company, that’s largely out of your control. But you
          can control your workspace. It helps you be more productive when you
          don’t have to hunt and peck for whatever that missing thing is. You’ll
          save time by not doing that. You’ll also get more clarity and focus
          for your tasks at hand. Check out more tips here.
        </p>
      </div>
    </section>
    <div class="num-cont">
      <div class="lesson-num"><h1>12</h1></div>
    </div>
  </main>
  <nav class="nav-container">
    <div class="nav-bar">
      <a [routerLink]="['/courses/productivity/11']">Previous lesson</a>
      <a [routerLink]="['/courses/productivity/13']">Next lesson</a>
    </div>
  </nav>
</div>
