<div class="productivity-container">
  <header>
    <div class="header-app">
      <img
        src="../../assets/images/icons8-meditación-gurú-501.png"
        alt=""
        width="50px"
        height="50px"
      />
    </div>

    <div class="title-container">
      <div>
        <h1>Work and Efficiency</h1>
      </div>
      <div><h4>Pick one task and then do it.</h4></div>
    </div>
  </header>
  <main class="main">
    <section class="section1">
      <div class="text">
        <p>
          This is very difficult because sometimes our projects aren’t a
          30-minute or one-hour job. It may take 8 hours or multiple days.
          What’s the answer then? Break it up into one task and then do that one
          task to its completion. But how long should that be? And what’s
          reasonable? I think most of our days are broken into hour segments.
          Which then is really 45 to 50 minutes. We have meetings that start on
          the hour, take a lunch hour, or schedule a call for an hour. Working
          consistently for 45 minutes on one thing makes sense, but is very
          difficult. The Pomodoro technique suggests 25-minute blocks of time,
          with short 5 minute breaks, followed by longer breaks later on.
          Pomodoro helps you eliminate interruptions and helps you estimate how
          long a certain task will take you. Read more about the Pomodoro
          technique in this article.
        </p>
      </div>
    </section>
    <div class="num-cont">
      <div class="lesson-num"><h1>07</h1></div>
    </div>
  </main>
  <nav class="nav-container">
    <div class="nav-bar">
      <a [routerLink]="['/courses/productivity/06']">Previous lesson</a>
      <a [routerLink]="['/courses/productivity/08']">Next lesson</a>
    </div>
  </nav>
</div>
